@import './base.css';

#app {
  max-width: 1800px;
  margin: 0 auto;
  padding: 2vw;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

#app main > header {
  height: 3em;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
}

#app {
  padding-top: 3em;
}

@media (min-width: 1024px) {

  #app  {
    padding-top: 6em;
  }

  #app main > header {
    height: 6em;
  }
}
